:root {
  --border-color: #000;
  --page-bg: #f0f4c8;
  --page-txt: #333;
  --section-bg: #fff;
  --section-txt: #000;
  --header-bg: #f0f1ab;
  --header-txt: #000;
  --shadow-color: #000;
  --img-bg: #f0f1ab;
}
